<section class="hero" style="--primary-color: {{ settings.color_primary }}; --font-main: {{ settings.font_main }};">
  <div class="hero-content">
    <h2 data-text="{{ block.settings.hero_title }}">{{ block.settings.hero_title }}</h2>
    {% if block.settings.hero_subtitle != blank %}
      <p>{{ block.settings.hero_subtitle }}</p>
    {% endif %}
    {% if block.settings.hero_button_text != blank %}
      <a href="{{ block.settings.hero_button_link }}" class="hero-button">{{ block.settings.hero_button_text }}</a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Hero banner",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title",
      "default": "Welcome to Only Cute Stuff!"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Subtitle",
      "default": "Your one-stop shop for all things cute and kawaii."
    },
    {
      "type": "url",
      "id": "hero_button_link",
      "label": "Hero Button Link",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text",
      "default": "Shop Now"
    },
    {
      "type": "color",
      "id": "color_primary",
      "label": "Primary Color",
      "default": "#FFC0CB"
    }
  ],
  "presets": [
    {
      "name": "Hero banner"
    }
  ]
}
{% endschema %}